body {
  font-family: Helvetica, san-serif;
  font-weight: 100;
  line-height: 130%;
  background: #f2f0f1;
}

#main {
}


#title {
  font-size: 40px;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

#img-div {
}

#image {
  width: 50%;
  height: auto;
  background: #E4E0DC;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#img-caption {
  display: block;
  text-align: center;
  color: #484348;
  margin: 5px;
  padding-bottom: 30px; 
}

#tribute {
  display: block;
  margin: 30px;
  font-weight: 200;
  text-indent: 20px;
}

#tribute-info {
  margin-bottom: 10px;
}

#quote {
  margin-top: 50px;
  padding: 50px;
  background: #A3939A;
  font-size: 30px;
  text-align: center;
  font-weight: 200;
  opacity: .8;
}

#quote-one {
}

#quote-two {
  font-size: 20px;
  text-align: right;
  padding-top: 10px;
}

#timeline-title {
  font-size: 30px;
  color: #6b646d;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

#timeline-table {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: solid #e1dedd 1px;
  border-collapse: separate;
  border-spacing: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#works-title {
  margin-top: 50px;
  font-size: 30px;
  color: #6b646d;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media 

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



